<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.twindworld.treeauthority.demos.mapper.SysFunctionMapper">

    <select id="getFunctionsByRoleId"
            resultType="top.twindworld.treeauthority.demos.domain.po.SysFunction">
        SELECT f.id, f.function_name, f.function_key
        FROM sys_function f
        JOIN sys_role_function rf ON rf.function_id = f.id
        WHERE rf.role_id = #{roleId}
    </select>
    <select id="getAllRoleFunctions"
            resultType="top.twindworld.treeauthority.demos.domain.po.SysRoleFunction">
        SELECT * FROM sys_role_function
    </select>
</mapper>
