<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.twindworld.treeauthority.demos.mapper.SysRoleMapper">

    <select id="getRolesByUserId" resultType="top.twindworld.treeauthority.demos.domain.entity.SysRole">
        SELECT r.id, r.role_name, r.role_key, r.parent_id
        FROM sys_role r
        JOIN sys_user_role ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>
    <select id="getAllUserRoles" resultType="top.twindworld.treeauthority.demos.domain.entity.SysUserRole">
        SELECT * FROM sys_user_role
    </select>
</mapper>
